<div>

  <app-dealer
  [dealerInformation] = "dealer"
  >
  </app-dealer>

  <app-game-status-bar
  (dealCards) = "dealCards2($event)"
  [dealerInfo] = "dealer"
  >
  </app-game-status-bar>

  <table>
    <tbody>
      <tr>
        <app-player-field-single 
        *ngFor = "let singleItem of playerFieldSingleComponents"
        [slotInformation] = "singleItem"
        (updatePlayerInfo) = "updatePlayer($event)"
        (calculateTotals) = "calculateTotalsOfPlayer($event)"
        (incrementStoppedPlayersCount)="incrementStoppedPlayersCount($event)"
        [dealer] = "dealer"
        [deckOfCards] = "deckOfCards"
        >
        </app-player-field-single>
      </tr>
    </tbody>
  </table>

  <app-heads-up-display
    [playerInfo] = "player"
  >
  </app-heads-up-display>

</div>