<td>
  <div>
    <button class="betBtn minusBtn" (click)="subtractPerfectPairBet(-100); onUpdatePlayer(100)" disabled="{{slotInformation.isPPBetMinusEnabled}}"> - </button>
    <span> ${{slotInformation.perfectBet}} </span>
    <button class="betBtn addBtn" (click)="addPerfectPairBet(100); onUpdatePlayer(-100)" disabled="{{slotInformation.isPPBetPlusEnabled}}"> + </button>

    <span class="allinBtnContainer"><button class="allInBtn"> All In </button></span>
  </div>
  <div>
    <button class="betBtn minusBtn" (click)="subtractRegularBet(-100); onUpdatePlayer(100)" disabled="{{slotInformation.isRegBetMinusEnabled}}"> - </button>
    <span> ${{slotInformation.regularBet}} </span>
    <button class="betBtn addBtn" (click)="addRegularBet(100); onUpdatePlayer(-100)" disabled="{{slotInformation.isRegBetPlusEnabled}}"> + </button>

    <span class="allinBtnContainer"><button class="allInBtn"> All In </button></span>
  </div>
  <div class="card-space">
    <app-card-spaces
    [cards] = "slotInformation.cards"
    >
    </app-card-spaces>
  <div>
    <p> {{slotInformation.total}} </p>
  </div>
  <div>
    <p> {{slotInformation.bustString}} </p>
  </div>
  </div>
  <div>
    <span class="ctrlBtnContainer"><button class="ctrlBtn stopBtn" (click)="stop('Ready')" disabled="{{slotInformation.isStopEnabled}}"> STOP </button></span>
    <span class="ctrlBtnContainer"><button class="ctrlBtn hitBtn" (click)="hit()" disabled="{{slotInformation.isHitEnabled}}"> HIT </button></span>
  </div>
    <br/>
  <div class="seatNumuber">
    SEAT {{slotInformation.seatNumber}}
  </div>
</td>