<td>
  <div>
    <button (click)="subtractPerfectPairBet(-100); onUpdatePlayer(100)" disabled="{{isPPBetMinusEnabled}}"> - </button>
    <span> ${{slotInformation.perfectBet}} </span>
    <button (click)="addPerfectPairBet(100); onUpdatePlayer(-100)" disabled="{{isPPBetPlusEnabled}}"> + </button>
  </div>
  <div>
    <button (click)="subtractRegularBet(-100); onUpdatePlayer(100)" disabled="{{isRegBetMinusEnabled}}"> - </button>
    <span> ${{slotInformation.regularBet}} </span>
    <button (click)="addRegularBet(100); onUpdatePlayer(-100)" disabled="{{isRegBetPlusEnabled}}"> + </button>
  </div>
  <div class="card-space">
    <app-card-spaces
    [cards] = "slotInformation.cards"
    >
    </app-card-spaces>
  <div>
    <p> {{slotInformation.total}} </p>
  </div>
  <div>
      <p> {{bustString}} </p>
  </div>
  </div>
  <div>
    <button (click)="stop()" disabled="{{slotInformation.isStopEnabled}}"> Stop </button>
    <button (click)="hit()" disabled="{{slotInformation.isHitEnabled}}"> HIT ME </button>
  </div>
  <div>
    Seat {{slotInformation.seatNumber}}
  </div>
</td>