<div class="card-space-container">
  <div>
    <span class="card-space-outer">
      <span (click)="showCards1()" class="card-space"> {{actualCard1}} </span>
    </span>
    <span class="card-space-outer">
      <span (click)="showCards2()" class="card-space"> {{actualCard2}} </span>
    </span>
    <span class="card-space-outer">
      <span (click)="showCards3()" class="card-space"> {{actualCard3}} </span>
    </span>
    <span class="card-space-outer">
      <span (click)="showCards4()" class="card-space"> {{actualCard4}} </span>
    </span>
  </div>
</div>
