nav{
    text-align: center;
    background-color: rgb(236, 255, 212);
    padding: 6px 0px 6px 0px;
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0px 12px 0px 12px;
}

a:hover{
    color: rgb(0, 248, 103);
}